<p style="color: green"><%= notice %></p>

<% content_for :title, "Entraîneurs" %>

<h1>Entraîneurs</h1>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Téléphone</th>
      <th>Salaire</th>
      <th>Salaires</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @entraineurs.each do |entraineur| %>
      <tr id="<%= dom_id entraineur %>">
        <td><%= entraineur.id %></td>
        <td><%= entraineur.nom %></td>
        <td><%= entraineur.prénom %></td>
        <td><%= entraineur.téléphone %></td>
        <td><%= entraineur.salaire %></td>
        <td>
          <ul>
            <% entraineur.salaires.each do |salaire| %>
              <li><%= "#{salaire.annee} - #{salaire.mois} : #{salaire.salaire} Dt" %></li>
            <% end %>
          </ul>
        </td>

        <td>
          <%= link_to "Edit", edit_entraineur_path(entraineur), class: "btn btn-primary btn-sm" %>
          <%= button_to "Delete", entraineur, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to "New entraîneur", new_entraineur_path, class: "btn btn-success" %>
</p>
