<% content_for :title, "New entraineur" %>

<div>
  <%= link_to "Entraîneurs >", entraineurs_path %>
</div>

<%= form_with(model: @entraineur, class: "new_forms", local: true) do |form| %>
  <h1>Nouvel entraîneur :</h1><br>
  
  <% if @entraineur.errors.any? %>
    <div class="custom-alert" role="alert">
      <h2>
        <%= pluralize(@entraineur.errors.count, "erreur", "erreurs") %> détectée<%= 's' if @entraineur.errors.count > 1 %> :
      </h2>
      <ul>
        <% @entraineur.errors.full_messages.each do |message| %>
          <li style="list-style-type: none;">
            <i class="bi bi-exclamation-triangle-fill"></i>&nbsp; <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="mb-3">
    <%= form.label :nom, class: "form-label" %>
    <%= form.text_field :nom, class: "form-control", placeholder: "Entrez le nom" %>
  </div>

  <div class="mb-3">
    <%= form.label :prénom, class: "form-label" %>
    <%= form.text_field :prénom, class: "form-control", placeholder: "Entrez le prénom" %>
  </div>

  <div class="mb-3">
    <%= form.label :téléphone, class: "form-label" %>
    <%= form.number_field :téléphone, class: "form-control", placeholder: "Entrez le numéro de téléphone" %>
  </div>

  <div class="mb-3">
    <%= form.label :salaire, "Salaire (DT)", class: "form-label" %>
    <%= form.number_field :salaire, class: "form-control", placeholder: "Entrez le salaire en DT" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Créer entraîneur", class: "btn btn-primary" %>
  </div>
<% end %>
