<p style="color: green"><%= notice %></p>

<%= render @entraineur %>

<div>
  <%= link_to "Edit this entraineur", edit_entraineur_path(@entraineur) %> |
  <%= link_to "Back to entraineurs", entraineurs_path %>

  <%= button_to "Destroy this entraineur", @entraineur, method: :delete %>
</div>
