<div id="<%= dom_id joueur %>">
  <p>
    <strong>Nom:</strong>
    <%= joueur.nom %>
  </p>

  <p>
    <strong>Prénom:</strong>
    <%= joueur.prénom %>
  </p>

  <p>
    <strong>Sexe:</strong>
    <%= joueur.sexe %>
  </p>

  <p>
    <strong>Date naissance:</strong>
    <%= joueur.date_naissance %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= joueur.note %>
  </p>

</div>
