<div id="<%= dom_id joueur %>" class="joueur-details">
  <p><strong>Nom:</strong> <%= joueur.nom %></p>
  <p><strong>Prénom:</strong> <%= joueur.prénom %></p>
  <p><strong>Sexe:</strong> <%= joueur.sexe %></p>
  <p><strong>Date naissance:</strong> <%= joueur.date_naissance %></p>
  <p><strong>Note:</strong> <%= joueur.note %></p>
  <p><strong>Créé le:</strong> <%= joueur.created_at.strftime("%d %b, %Y %H:%M") %></p>
</div>
