<% content_for :title, "Modifier un joueur" %>

<div>
  <%= link_to "Joueurs >", joueurs_path %>
</div>
<p style="color: green"><%= notice %></p>

<h1>Modifier un joueur</h1>

<div style="display: flex; justify-content: space-between; gap: 20px;">
  <div style="flex: 1; border: 1px solid #ccc; padding: 20px;">
    <h3>Informations personnelles</h3>
    <%= form_with(model: @joueur) do |form| %>
      <div>
        <%= form.submit "Enregistrer", class:"btn btn-primary", style: "float:right" %>
      </div>

      <% if @joueur.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(@joueur.errors.count, "erreur") %> empêchent ce joueur d'être sauvegardé :</h2>
          <ul>
            <% @joueur.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <br>

      <div>
        <%= form.label :nom, style: "display: block" %>
        <%= form.text_field :nom ,class: "form-control" %>
      </div>

      <div>
        <%= form.label :prénom, style: "display: block" %>
        <%= form.text_field :prénom ,class: "form-control" %>
      </div>

      <div>
        <%= form.label :sexe, style: "display: block" %>
        <%= form.text_field :sexe ,class: "form-control" %>
      </div>

      <div>
        <%= form.label :date_naissance, style: "display: block" %>
        <%= form.date_field :date_naissance, class: "form-control" %>
      </div>

      <div>
        <%= form.label :parent_id, "Parent", style: "display: block" %>
        <%= form.select :parent_id, 
              Parent.all.map { |parent| ["#{parent.prénom} #{parent.nom}", parent.id] }, 
              prompt: "Choisir un parent existant", 
              class: "form-control" %>
      </div>
      <br>

      <div>
        <%= form.label :note, style: "display: block" %>
        <%= form.text_area :note, class: "form-control" %>
      </div>
    <% end %>
  </div>

  <div style="flex: 1; border: 1px solid #ccc; padding: 20px;">
    <h3>Abonnement</h3>
    <p>
      <button id="btnAjout2" class="btn btn-success">Ajouter un paiement</button>
    </p>

    <div class="hideForm" id="paiementForm">
      <button id="btnAnnuler2" class="btn btn-secondary" style="float:right">Annuler</button>
      <%= form_with(model: @paiement) do |form| %>
        <% if @paiement.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(@paiement.errors.count, "erreur") %> empêchent ce paiement d'être sauvegardé :</h2>
            <ul>
              <% @paiement.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <br>
        <div>
          <%= form.check_box :etat_abonnement, { checked: false }, 'Crédit', nil %>
          <%= form.label :etat_abonnement, "Marquer comme Crédit" %>
        </div>
        <div style="display: none">
          <%= form.hidden_field :joueur_id, value: @joueur.id %>
        </div>

        <div>
          <%= form.label :montant, "Paiement", style: "display: block" %>
          <%= number_field_tag :montant, default_payment_value(@joueur), class: "form-control", disabled: true %>
        </div>

        <div style="display: none">
          <%= form.label :montant, "Paiement", style: "display: block" %>
          <%= form.number_field :montant, class: "form-control", value: default_payment_value(@joueur) %>
        </div>
        <div>
          <%= form.label :date_abonnement, "Date d'abonnement", style: "display: block" %>
          <%= form.date_field :date_abonnement, class: "form-control" %>
        </div>
        <div>
          <%= form.label :date_encaissement, "Date d'encaissement", style: "display: block" %>
          <%= form.date_field :date_encaissement, class: "form-control" %>
        </div>

        <br>

        <div>
          <%= form.submit "Ajouter", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Paiement</th>
          <th>Date d'abonnement</th>
          <th>Date d'encaissement</th>
          <th>Expire</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @joueur.paiements.each do |paiement| %>
          <tr id="<%= dom_id paiement %>" class="<%= 'etat_abonnement' if paiement.etat_abonnement == 'Crédit' %>">
            <td><%= paiement.montant %>&nbspDT</td>
            <td><%= paiement.date_abonnement.strftime("%d %b, %Y") if paiement.date_abonnement %></td>
            <td><%= paiement.date_encaissement.strftime("%d %b, %Y") if paiement.date_encaissement %></td>
            <td><%= (paiement.date_abonnement + 30.days).strftime("%d %b, %Y") if paiement.date_abonnement %></td>
            <td>
              <%= button_to 'Supprimer', paiement_path(paiement), method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <!--************************ASSURANCE*******************************-->
    <hr>
    <h3>Assurance</h3>
    <p>
      <button id="btnAjout3" class="btn btn-success">Ajouter une assurance</button>
    </p>

    <div class="hideForm" id="assuranceForm">
      <button id="btnAnnuler3" class="btn btn-secondary" style="float:right">Annuler</button>
      <%= form_with(model: @assurance) do |form| %>
        <% if @assurance.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(@assurance.errors.count, "erreur") %> empêchent cette assurance d'être sauvegardé :</h2>
            <ul>
              <% @assurance.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <br>
        <div>
          <%= form.check_box :etat_paiement, { checked: false }, 'Crédit', nil %>
          <%= form.label :etat_paiement, "Marquer comme Crédit" %>
        </div>
        <div style="display: none">
          <%= form.hidden_field :joueur_id, value: @joueur.id %>
        </div>
        <div>
          <%= form.label :saison_id, "Saison", style: "display: block" %>
          <%= form.select :saison_id, 
              Saison.all.map { |saison| ["#{saison.date_debut.strftime('%d %B %Y')} à #{saison.date_fin.strftime('%d %B %Y')}", saison.id] }, 
              prompt: "Choisir une saison", 
              class: "form-control" %>
        </div>
        <br>

        <div>
          <%= form.label :date_paiement, "Date de paiement", style: "display: block" %>
          <%= form.date_field :date_paiement, class: "form-control" %>
        </div>
        <br>

        <div>
          <%= form.submit "Ajouter", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Paiement</th>
          <th>Date de paiement</th>
          <th>Saison</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @joueur.assurances.each do |assurance| %>
          <tr id="<%= dom_id assurance %>" class="<%= 'etat_paiement' if assurance.etat_paiement == 'Crédit' %>">
            <td><%= assurance.saison.montant_assurance%>&nbspDT</td>
            <td><%= assurance.date_paiement.strftime("%d %b, %Y") if assurance.date_paiement %></td>
            <td><%= "#{assurance.saison.date_debut.strftime("%d %b %Y")} à #{assurance.saison.date_fin.strftime("%d %b %Y")}" %></td>
            <td>
              <%= button_to 'Supprimer', assurance_path(assurance), method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <!--************************ACHATS*******************************-->
    <hr>
    <h3>Achats</h3>
    <p>
      <button id="btnAjout4" class="btn btn-success">Ajouter un achat</button>
    </p>

    <div class="hideForm" id="achatForm">
      <button id="btnAnnuler4" class="btn btn-secondary" style="float:right">Annuler</button>
      <%= form_with(model: @achat) do |form| %>
        <% if @achat.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(@achat.errors.count, "erreur") %> empêchent cet achat d'être sauvegardé :</h2>
            <ul>
              <% @achat.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <br>
        <div>
          <%= form.check_box :etat_paiement, { checked: false }, 'Crédit', nil %>
          <%= form.label :etat_paiement, "Marquer comme Crédit" %>
        </div>
        <div style="display: none">
          <%= form.hidden_field :joueur_id, value: @joueur.id %>
        </div>

        <div>
          <%= form.label :designation, "Désignation", style: "display: block" %>
          <%= form.text_field :designation, class: "form-control" %>
        </div>
        <br>

        <div>
          <%= form.label :prix, "Prix", style: "display: block" %>
          <%= form.number_field :prix, class: "form-control", step: 0.01 %>
        </div>
        <br>

        <div>
          <%= form.label :date_achat, "Date d'achat", style: "display: block" %>
          <%= form.date_field :date_achat, class: "form-control" %>
        </div>
        <br>

        <div>
          <%= form.submit "Ajouter", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Prix</th>
          <th>Date d'achat</th>
          <th>Désignation</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @joueur.achats.each do |achat| %>
          <tr id="<%= dom_id achat %>" class="<%= 'etat_paiement' if achat.etat_paiement == 'Crédit' %>">
            <td><%= achat.prix %>&nbspDT</td>
            <td><%= achat.date_achat.strftime("%d %b, %Y") if achat.date_achat %></td>
            <td><%= achat.designation %></td>
            <td>
              <%= button_to 'Supprimer', achat_path(achat), method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</div>