<% content_for :title, "Fiche du joueur" %>

<div>
  <%= link_to "Joueurs >", joueurs_path %>
</div>
<% @page_title = "Fiche de #{@joueur.prénom} #{@joueur.nom}"%>

<div style="display: flex; justify-content: space-between; gap: 10px;">
  <div style="flex: 1; border: 1px solid #ccc; padding: 20px;">
    <h3>Modifier le joueur</h3>
    <%= form_with(model: @joueur, class: "needs-validation", local: true, html: { novalidate: true }) do |form| %>
      <div>
        <%= form.submit "Enregistrer", class:"btn btn-primary", style: "float:right" %>
      </div>     
      <br>
      <div class="mb-3">
        <%= form.label :prénom, "Prénom *", class: "form-label" %>
        <%= form.text_field :prénom, class: "form-control", placeholder: "Entrez le prénom", required: true %>
        <div class="invalid-feedback">
          <i class="bi bi-exclamation-circle mr-1 ml-1"></i>Le prénom est obligatoire.
        </div>
      </div>

      <div class="mb-3">
        <%= form.label :nom, "Nom *", class: "form-label" %>
        <%= form.text_field :nom, class: "form-control", placeholder: "Entrez le nom", required: true %>
        <div class="invalid-feedback">
          <i class="bi bi-exclamation-circle mr-1 ml-1"></i>Le nom est obligatoire.
        </div>
      </div>

      <div class="mb-3">
        <span class="form-label">Genre *</span><br>
        <div class="form-check form-check-inline ml-3">
          <%= form.radio_button :sexe, "male", class: "form-check-input", required: true %>
          <%= form.label :sexe, "Homme", value: "male", class: "form-check-label" %>
        </div>
        <div class="form-check form-check-inline">
          <%= form.radio_button :sexe, "femelle", class: "form-check-input", required: true %>
          <%= form.label :sexe, "Femme", value: "femelle", class: "form-check-label" %>
        </div>
        <div class="invalid-feedback ml-3">
          <i class="bi bi-exclamation-circle mr-1 ml-1"></i>Le genre est obligatoire.
        </div>
      </div>


      <div class="mb-3">
        <%= form.label :date_naissance, class: "form-label" %>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" style="background-color:rgba(119, 169, 223, 0.35)">
              <i class="bi bi-calendar2-week" style="color: #0069d9;"></i>
            </span>
          </div>
          <%= form.text_field :date_naissance, class: "form-control datepicker", placeholder: "date de naissance", autocomplete: "off" %>
        </div>
      </div>
      <div class="mb-3">
        <%= form.label :parent_id, "Parent", style: "display: block" %>
        <%= form.select :parent_id, 
              [["Aucun parent sélectionné", nil]] + Parent.all.map { |parent| ["#{parent.prénom} #{parent.nom}", parent.id] }, 
              {}, 
              { class: "custom-select" } %>
      </div>

      <div class="mb-3">
        <%= form.label :groupe_id, "Groupe *", class: "form-label" %>
        <%= form.select :groupe_id, 
              Groupe.all.map { |groupe| ["#{groupe.age_min}-#{groupe.age_max} ans", groupe.id] }, 
              { prompt: "Choisir un groupe" }, { class: "custom-select", required: true } %>
        <div class="invalid-feedback">
          <i class="bi bi-exclamation-circle mr-1 ml-1"></i>Le groupe est obligatoire.
        </div>
      </div>

      <div class="mb-3">
        <%= form.label :note, class: "form-label" %>
        <%= form.text_area :note, class: "form-control", rows: 4, placeholder: "Ajoutez une note (facultatif)" %>
      </div>
    <% end %>
    <hr>
    <%= button_to "Supprimer ce joueur", @joueur, method: :delete, data: { controller: "confirm", confirm_message: "Êtes-vous sûr de supprimer le joueur définitivement ?" }, class: "btn btn-danger" %>
  </div>
  
<!--******************************PAIEMENTS**********************************-->
  <div style="flex: 1; border: 1px solid #ccc; padding: 20px;">
    <h3>Ajouter une transaction</h3><hr>
    <h5>Abonnement <button id="btnAjout2" class="btn btn-success btn-sm" style="float:right">Ajouter un paiement</button></h5><br>
    <div class="hideForm" id="paiementForm">
      <button id="btnAnnuler2" class="btn btn-secondary" style="float:right">Annuler</button>

      <%= form_with(model: @paiement, class: "needs-validation", local: true, html: { novalidate: true }) do |form| %>
        <br>
        <div class="mb-3">
          <%= form.check_box :etat_abonnement, { checked: false }, 'Crédit', nil %>
          <%= form.label :etat_abonnement, "Marquer comme Crédit", class: "form-label" %>
        </div>

        <div style="display: none">
          <%= form.hidden_field :joueur_id, value: @joueur.id %>
        </div>

        <div class="mb-3">
          <%= form.label :montant, "Paiement (DT) *", class: "form-label" %>
          <%= form.number_field :montant, class: "form-control", value: default_payment_value(@joueur, @saison), required: true, min: 0 %>
          <div class="invalid-feedback">
            <i class="bi bi-exclamation-circle mr-1 ml-1"></i>Le montant est obligatoire et doit être supérieur ou égal à 0.
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :date_abonnement, "Date d'abonnement *", style: "display: block" %>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" style="background-color:rgba(119, 169, 223, 0.35)">
                <i class="bi bi-calendar2-week" style="color: #0069d9;"></i>
              </span>
            </div>
            <%= form.text_field :date_abonnement, class: "form-control datepicker", placeholder: "date d'abonnement", required: true , autocomplete: "off", value: (@joueur.paiements.last.date_abonnement + 31.days if @joueur.paiements.any?) , title: "Par défaut la date d'expiration + 1"%>
            <div class="invalid-feedback">
            <i class="bi bi-exclamation-circle mr-1 ml-1"></i>La date d'abonnement est obligatoire.
          </div>
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :date_encaissement, "Date d'encaissement", style: "display: block" %>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" style="background-color:rgba(119, 169, 223, 0.35)">
                <i class="bi bi-calendar2-week" style="color: #0069d9;"></i>
              </span>
            </div>
            <%= form.text_field :date_encaissement, class: "form-control datepicker", placeholder: "date d'encaissement", autocomplete: "off" %>
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :num_recu, "Numéro de reçu", class: "form-label" %>
          <%= form.number_field :num_recu, class: "form-control", min: 0 %>
          <div class="invalid-feedback">
            <i class="bi bi-exclamation-circle mr-1 ml-1"></i>Le numéro de reçu doit être supérieur ou égal à 0.
          </div>
        </div>

        <div>
          <%= form.submit "Confirmer", class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>

    <table class="table table-bordered datatable table-hover table-sm">
      <thead class="table-primary" style ="color:rgb(2, 30, 144)">
        <tr>
          <th>Paiement</th>
          <th>Date d'abonnement</th>
          <th>Date d'expiration</th>
          <th>Num reçu</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @joueur.paiements.reverse.each do |paiement| %>
          <tr id="<%= dom_id paiement %>" class="<%= 
            if paiement == paiement.joueur.paiements.last
              if paiement.etat_abonnement == 'Crédit'
                'etat_crédit'
              elsif (paiement.joueur.paiements.last.date_abonnement + 30.days - Date.today).to_i < 0
                'etat_expiré'
              else
                ''
              end
            elsif paiement.etat_abonnement == 'Crédit'
              'etat_crédit'
            else
              'etat_passé'
            end
          %>">
            <td><%= paiement.montant %>&nbspDT</td>
            <td>
              <%= "#{paiement.date_abonnement.strftime('%d')} #{I18n.t('date.month_names_short')[paiement.date_abonnement.month]}, #{paiement.date_abonnement.strftime('%Y')}" if paiement.date_abonnement %>
            </td>
            <td> 
              <% expiration_date = paiement.date_abonnement + 30.days %>
              <%= "#{expiration_date.strftime('%d')} #{I18n.t('date.month_names_short')[expiration_date.month]}, #{expiration_date.strftime('%Y')}" %>
              <br><strong>
                <% if paiement == paiement.joueur.paiements.last %>
                  <% if (expiration_date - Date.today).to_i > 0 %>
                    reste : <%= (expiration_date - Date.today).to_i %> jours
                  <% elsif (expiration_date - Date.today).to_i == 0 %>
                    Aujourd'hui
                  <% else %>
                    </strong>
                    <span style="color:red">(Expiré)</span>
                  <% end %>
                <% end %>
            </td>
            <td style="text-align:center !important"><%= paiement.num_recu if paiement.num_recu %></td>
            <td>
              <%= link_to 'Modifier', edit_paiement_path(paiement), class: "btn btn-primary btn-sm"%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<!--************************ASSURANCE*******************************-->
    <hr>
    <h5>Assurance <button id="btnAjout3" class="btn btn-success btn-sm" style="float:right">Ajouter une assurance</button></h5><br>

    <div class="hideForm" id="assuranceForm">
      <button id="btnAnnuler3" class="btn btn-secondary" style="float:right">Annuler</button>
      <%= form_with(model: @assurance, class: "needs-validation", local: true, html: { novalidate: true }) do |form| %>
        <br>
        <div class="mb-3">
          <%= form.check_box :etat_paiement, { checked: false }, 'Crédit', nil %>
          <%= form.label :etat_paiement, "Marquer comme Crédit", class: "form-label" %>
        </div>

        <div style="display: none">
          <%= form.hidden_field :joueur_id, value: @joueur.id %>
        </div>

        <div class="mb-3">
          <%= form.label :saison_id, "Saison *", class: "form-label" %>
          <%= form.select :saison_id, 
            Saison.all.reverse.map { |saison| 
              start_date = "#{saison.date_debut.strftime('%d')} #{I18n.t('date.month_names_short')[saison.date_debut.month]} #{saison.date_debut.strftime('%Y')}"
              end_date = "#{saison.date_fin.strftime('%d')} #{I18n.t('date.month_names_short')[saison.date_fin.month]} #{saison.date_fin.strftime('%Y')}"
              [
                "#{start_date} à #{end_date}",
                saison.id,
                { "data-montant" => saison.montant_assurance, disabled: @used_seasons.include?(saison.id) }
              ]
            },
            { prompt: "Choisir une saison" }, 
            { class: "custom-select", required: true }
          %>

          <div class="invalid-feedback">
            <i class="bi bi-exclamation-circle mr-1 ml-1"></i>La saison est obligatoire.
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :montant, "Montant (DT) *", class: "form-label", for: "montant-field" %>
          <%= form.number_field :montant, class: "form-control", id: "montant-field", value: "", placeholder: "Montant par défaut", required: true, min: 0 %>
          <div class="invalid-feedback">
            <i class="bi bi-exclamation-circle mr-1 ml-1"></i>Le montant est obligatoire et doit être supérieur ou égal à 0.
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :date_paiement, "Date de paiement *", class: "form-label" %>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" style="background-color:rgba(119, 169, 223, 0.35)">
                <i class="bi bi-calendar2-week" style="color: #0069d9;"></i>
              </span>
            </div>
            <%= form.text_field :date_paiement, class: "form-control datepicker", placeholder: "date de paiement", required: true, autocomplete: "off" %>
            <div class="invalid-feedback">
              <i class="bi bi-exclamation-circle mr-1 ml-1"></i>La date de paiement est obligatoire.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :num_recu, "Numéro de reçu", class: "form-label" %>
          <%= form.number_field :num_recu, class: "form-control", min: 0 %>
          <div class="invalid-feedback">
            <i class="bi bi-exclamation-circle mr-1 ml-1"></i>Le numéro de reçu doit être supérieur ou égal à 0.
          </div>
        </div>

        <div>
          <%= form.submit "Confirmer", class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>

    <table class="table table-bordered datatable table-hover table-sm">
      <thead class="table-primary" style ="color:rgb(2, 30, 144)">
        <tr>
          <th>Paiement</th>
          <th>Date de paiement</th>
          <th>Saison</th>
          <th>Num reçu</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @joueur.assurances.reverse.each do |assurance| %>
          <tr id="<%= dom_id assurance %>" class="<%= 'etat_crédit' if assurance.etat_paiement == 'Crédit' %>">
            <td><%= assurance.montant%>&nbspDT</td>
            <td><%= assurance.date_paiement.strftime("%d #{I18n.t('date.month_names_short')[assurance.date_paiement.month]}, %Y") if assurance.date_paiement %></td>
            <td><%= "#{assurance.saison.date_debut.strftime('%d')} #{I18n.t('date.month_names_short')[assurance.saison.date_debut.month]} #{assurance.saison.date_debut.strftime('%Y')} à #{assurance.saison.date_fin.strftime('%d')} #{I18n.t('date.month_names_short')[assurance.saison.date_fin.month]} #{assurance.saison.date_fin.strftime('%Y')}" %></td>
            <td style="text-align:center !important"><%= assurance.num_recu if assurance.num_recu %></td>
            <td>
              <%= link_to 'Modifier', edit_assurance_path(assurance), class: "btn btn-primary btn-sm"%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

<!--************************ACHATS*******************************-->
    <hr>
    <h5>Achats <button id="btnAjout4" class="btn btn-success btn-sm" style="float:right">Ajouter un achat</button></h5><br>

    <div class="hideForm" id="achatForm">
      <button id="btnAnnuler4" class="btn btn-secondary" style="float:right">Annuler</button>
      <%= form_with(model: @achat, class: "needs-validation", local: true, html: { novalidate: true }) do |form| %>
        <br>
        <div class="mb-3">
          <%= form.check_box :etat_paiement, { checked: false }, 'Crédit', nil %>
          <%= form.label :etat_paiement, "Marquer comme Crédit", class: "form-label" %>
        </div>

        <div style="display: none">
          <%= form.hidden_field :joueur_id, value: @joueur.id %>
        </div>

        <div class="mb-3">
          <%= form.label :designation, "Désignation *", class: "form-label" %>
          
          <%= select_tag 'product_select', 
              options_from_collection_for_select(
                Product.all.map { |product| [product.nom, product.nom, { data: { price: product.prix } }] }, 
                :second, 
                :first
              ), 
              { class: "custom-select", id: "product_select", prompt: "Sélectionnez un produit" } %>
          
          <%= form.text_field :designation, class: "form-control", required: true, id: "designation_field", style: "display:none" %>
          
          <div class="invalid-feedback">
            <i class="bi bi-exclamation-circle mr-1 ml-1"></i>La désignation est obligatoire.
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :prix, "Prix (DT) *", class: "form-label" %>
          <%= form.number_field :prix, class: "form-control", step: 0.01, required: true, min: 0, id: "prix_field" %>
          
          <div class="invalid-feedback">
            <i class="bi bi-exclamation-circle mr-1 ml-1"></i>Le prix est obligatoire et doit être supérieur ou égal à 0.
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :date_achat, "Date d'achat *", class: "form-label" %>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" style="background-color:rgba(119, 169, 223, 0.35)">
                <i class="bi bi-calendar2-week" style="color: #0069d9;"></i>
              </span>
            </div>
            <%= form.text_field :date_achat, class: "form-control datepicker", placeholder: "date d'achat", required: true, autocomplete: "off" %>
            <div class="invalid-feedback">
              <i class="bi bi-exclamation-circle mr-1 ml-1"></i>La date d'achat est obligatoire.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :num_recu, "Numéro de reçu", class: "form-label" %>
          <%= form.number_field :num_recu, class: "form-control", min: 0 %>
          <div class="invalid-feedback">
            <i class="bi bi-exclamation-circle mr-1 ml-1"></i>Le numéro de reçu doit être supérieur ou égal à 0.
          </div>
        </div>

        <div>
          <%= form.submit "Confirmer", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <table class="table table-bordered datatable table-hover table-sm">
      <thead class="table-primary" style ="color:rgb(2, 30, 144)">
        <tr>
          <th>Désignation</th>
          <th>Prix</th>
          <th>Date d'achat</th>
          <th>Num reçu</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @joueur.achats.reverse.each do |achat| %>
          <tr id="<%= dom_id achat %>" class="<%= 'etat_crédit' if achat.etat_paiement == 'Crédit' %>">
            <td><%= achat.designation %></td>
            <td><%= achat.prix %>&nbspDT</td>
            <td><%= achat.date_achat.strftime("%d #{I18n.t('date.month_names_short')[achat.date_achat.month]}, %Y") if achat.date_achat %></td>
            <td style="text-align:center !important"><%= achat.num_recu if achat.num_recu %></td>
            <td>
              <%= link_to 'Modifier', edit_achat_path(achat), class: "btn btn-primary btn-sm"%>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</div>