<% content_for :title, "Joueurs" %>
<% @page_title = "Joueurs"%>

<%= link_to export_csv_joueurs_path(format: :csv, filter: params[:filter]), class: 'btn btn-info btn-sm float-right' do %>
  <i class="bi bi-download"></i> Exporter en CSV
<% end %>
<p>
  <%= link_to new_joueur_path, class: "btn btn-success btn-sm float-right mr-1" do %>
    <i class="bi bi-plus-circle"></i>&nbsp; Ajouter un joueur
  <% end %>
</p>
<div class="filter-container">
  <%= link_to 'Tous', joueurs_path, class: "filter-btn #{params[:filter].blank? ? 'active' : ''}" %>
  <%= link_to 'Active', joueurs_path(filter: 'active'), class: "filter-btn #{params[:filter] == 'active' ? 'active' : ''}" %>
  <%= link_to 'Expiré', joueurs_path(filter: 'expired'), class: "filter-btn #{params[:filter] == 'expired' ? 'active' : ''}" %>
  <%= link_to 'Crédit', joueurs_path(filter: 'credit'), class: "filter-btn #{params[:filter] == 'credit' ? 'active' : ''}" %>
</div>


<table class="table table-bordered datatable table-hover table-sm" id="joueurs">
  <thead style ="color:rgb(2, 30, 144)">
    <tr>
      <th>#</th>
      <th>Nom du joueur</th>
      <th>Age</th>
      <th>Parent</th>
      <th>Groupe</th>
      <th>Dernier paiement</th>
      <th>Expire</th>
      <th>Assurance</th>
      <th>Crédits</th>
      <th>Créé le</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @joueurs.each do |joueur| %>
      <tr class="<%= 
        if joueur.paiements.any?
          expiration_date = joueur.paiements.last.date_abonnement + 30.days

          if (expiration_date - Date.today).to_i < 0
            'etat_expiré'
          else
            ''
          end
        end
      %>">
        <td><%= joueur.id %></td>
        <td>
          <%= link_to edit_joueur_path(joueur), class: "custom-dark" do %>
            <%= "#{joueur.prénom} #{joueur.nom}" %>
          <% end %>
          <% if joueur.sexe == 'male' %>
            <i class="bi bi-person-standing" style="color: #469af4"></i>
          <% elsif joueur.sexe == 'femelle' %>
            <i class="bi bi-person-standing-dress" style="color: rgb(247, 137, 137)"></i>
          <% end %>
        </td>
        <td style="text-align:center"><%= joueur.age if joueur.date_naissance %></td>
        <td>
          <% if joueur.parent %>
            <%= "#{joueur.parent.prénom} #{joueur.parent.nom}" %><br>
            <% if joueur.parent.téléphone%>
            <span style="color:#214874;font-size:14px"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 10"><path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
            </svg>&nbsp;<%= joueur.parent.téléphone %></span>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if joueur.groupe %>
            <%= "#{joueur.groupe.age_min}-#{joueur.groupe.age_max} ans"%>
          <% end %>
        </td>
        <td>
          <% if joueur.paiements.any? %>
            <%= "#{joueur.paiements.last.date_abonnement.strftime('%d')} #{I18n.t('date.month_names_short')[joueur.paiements.last.date_abonnement.month]}, #{joueur.paiements.last.date_abonnement.strftime('%Y')}"%><br><strong><%= "(#{joueur.paiements.last.montant.to_i} DT)" %></strong>
          <% else %>
            Aucun paiement
          <% end %>
        </td>
        <td>
          <% if joueur.paiements.any? %>
            <% expiration_date = joueur.paiements.last.date_abonnement + 30.days %>
            <%= "#{expiration_date.strftime('%d')} #{I18n.t('date.month_names_short')[expiration_date.month]}, #{expiration_date.strftime('%Y')}" %>
            <br><strong>
              <% if (expiration_date - Date.today).to_i > 0 %>
              reste : <%= (expiration_date - Date.today).to_i %> jours
              <% elsif (expiration_date - Date.today).to_i == 0 %>
              Aujourd'hui
              <% else
              %>
              </strong>
              <span style="color:red">(Expiré)</span>
              <%end
               %>
          <% else %>
            -
          <% end %>
        </td>
        <td>
          <% if joueur.assurances.any? { |assurance| assurance.saison_id == @saison.id } %>
            <% assurance_actuelle = joueur.assurances.find { |assurance| assurance.saison_id == @saison.id } %>
            <% if assurance_actuelle.etat_paiement == 'Crédit' %>
              Crédit
            <% else %>
              Payé
            <% end %>
          <% else %>
            Non payé
          <% end %>
        </td>
        <td class="<%= 
        if joueur.somme_des_credits > 0
          'etat_crédit'
        else
          ''
        end
        %>"><%= joueur.somme_des_credits %>&nbsp;DT</td>
        <td><%= "#{joueur.created_at.strftime('%d')} #{I18n.t('date.month_names_short')[joueur.created_at.month]}, #{joueur.created_at.strftime('%Y')}" %></td>
        <td>
          <%= link_to edit_joueur_path(joueur),style:"padding:3px 3px 0px 3px" ,class: "btn btn-info btn-sm" do %>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 14">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                      </svg>
                    <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
