<p class="notice"><%= notice %></p>

<% content_for :title, "Joueurs" %>

<h1>Joueurs</h1>

<div class="mb-3">
  <%= link_to 'Tous', joueurs_path, class: 'btn btn-primary' %>
  <%= link_to 'Active', joueurs_path(filter: 'active'), class: 'btn btn-success' %>
  <%= link_to 'Expiré', joueurs_path(filter: 'expired'), class: 'btn btn-danger' %>
  <%= link_to 'Crédit', joueurs_path(filter: 'credit'), class: 'btn btn-warning' %>
</div>

<table class="table table-bordered display" id="joueurs">
  <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>Nom du joueur</th>
      <th>Date de naissance</th>
      <th>Parent</th>
      <th>Dernier paiement</th>
      <th>Expire</th>
      <th>Crédits</th>
      <th>Créé le</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @joueurs.each do |joueur| %>
      <tr class="<%= 
        if joueur.paiements.any?
          expiration_date = joueur.paiements.last.date_abonnement + 30.days

          if (expiration_date - Date.today).to_i < 0
            'etat_expiré'
          else
            ''
          end
        end
      %>">
        <td><%= joueur.id %></td>
        <td><%= "#{joueur.prénom} #{joueur.nom}" %></td>
        <td><%= joueur.date_naissance %></td>
        <td>
          <% if joueur.parent %>
            <%= "#{joueur.parent.nom} #{joueur.parent.prénom}" %><br>
            <%= link_to "View Parent", parent_path(joueur.parent_id), class: "btn btn-secondary btn-sm" %>
          <% end %>
        </td>
        <td>
          <% if joueur.paiements.any? %>
            <%= "#{joueur.paiements.last.date_abonnement.strftime("%d %b, %Y")}"%><br><strong><%= "(#{joueur.paiements.last.montant.to_i} DT)" %></strong>
          <% else %>
            Aucun paiement
          <% end %>
        </td>
        <td>
          <% if joueur.paiements.any? %>
            <% expiration_date = joueur.paiements.last.date_abonnement + 30.days %>
            <%= expiration_date.strftime("%d %b, %Y") %>
            <br><strong>
              <% if (expiration_date - Date.today).to_i > 0 %>
              reste : <%= (expiration_date - Date.today).to_i %> jours
              <% elsif (expiration_date - Date.today).to_i == 0 %>
              Aujourd'hui
              <% else
              %>
              </strong>
              <span style="color:red">(Expiré)</span>
              <%end
               %>
          <% else %>
            -
          <% end %>
        </td>
        <td class="<%= 
        if joueur.somme_des_credits > 0
          'etat_crédit'
        else
          ''
        end
      %>"><%= joueur.somme_des_credits %>&nbsp;DT</td>
        <td><%= joueur.created_at.strftime("%d %b, %Y %H:%M") %></td>
        <td>
          <%= link_to "Edit", edit_joueur_path(joueur), class: "btn btn-primary btn-sm" %>
          <%= button_to "Delete", joueur, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<p>
  <%= link_to "New joueur", new_joueur_path, class: "btn btn-success" %>
</p>
