<% content_for :title, "Assurances" %>

<% @page_title = "Assurances"%>
<div class="mb-3">
  <%= link_to 'Tous', assurances_path, class: 'btn btn-primary btn-sm' %>
  <%= link_to 'Crédits', assurances_path(filter: 'credit'), class: 'btn btn-warning btn-sm' %>
</div>
<%= link_to export_csv_assurances_path(format: :csv, filter: params[:filter]), class: 'btn btn-info btn-sm float-right' do %>
  <i class="bi bi-download"></i> Télécharger CSV
<% end %><br>

<table class="table table-bordered datatable table-hover table-sm">
  <thead class="thead-light">
    <tr>
      <th>Nom du Joueur</th>
      <th>Saison</th>
      <th>Montant</th>
      <th>Date de Paiement</th>
      <th>Etat de paiement</th>
    </tr>
  </thead>
  <tbody>
    <% @assurances.reverse.each do |assurance| %>
      <tr id="<%= dom_id assurance %>" class="<%= 'etat_crédit' if assurance.etat_paiement == 'Crédit' %>">
        <td><%= assurance.joueur ? "#{assurance.joueur.prénom} #{assurance.joueur.nom}" : "Joueur inconnu" %></td>
        <td><%= "#{assurance.saison.date_debut.strftime('%d')} #{I18n.t('date.month_names_short')[assurance.saison.date_debut.month]} #{assurance.saison.date_debut.strftime('%Y')} à #{assurance.saison.date_fin.strftime('%d')} #{I18n.t('date.month_names_short')[assurance.saison.date_fin.month]} #{assurance.saison.date_fin.strftime('%Y')}" %></td>

        <td><%= assurance.montant %>&nbspDT</td>
        <td><%= "#{assurance.date_paiement.strftime('%d')} #{I18n.t('date.month_names_short')[assurance.date_paiement.month]}, #{assurance.date_paiement.strftime('%Y')}" if assurance.date_paiement %></td>
        <td style="text-align:center" class="<%= 
          if assurance.etat_paiement == 'Crédit'
            'etat_crédit'
          else
            ''
          end
        %>"><%= assurance.etat_paiement %></td>
      </tr>
    <% end %>
  </tbody>
</table>
