<p style="color: green"><%= notice %></p>

<% content_for :title, "Assurances" %>

<h1>Assurances</h1>

<div class="mb-3">
  <%= link_to 'Tous', assurances_path, class: 'btn btn-primary' %>
  <%= link_to 'Crédits', assurances_path(filter: 'credit'), class: 'btn btn-warning' %>
</div>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>Nom du Joueur</th>
      <th>Saison</th>
      <th>Montant</th>
      <th>Date de Paiement</th>
      <th>Etat de paiement</th>
    </tr>
  </thead>
  <tbody>
    <% @assurances.each do |assurance| %>
      <tr id="<%= dom_id assurance %>" class="<%= 'etat_crédit' if assurance.etat_paiement == 'Crédit' %>">
        <td><%= assurance.joueur ? "#{assurance.joueur.prénom} #{assurance.joueur.nom}" : "Joueur inconnu" %></td>
        <td><%= "#{assurance.saison.date_debut.strftime("%d %b %Y")} à #{assurance.saison.date_fin.strftime("%d %b %Y")}" %></td>
        <td><%= assurance.saison.montant_assurance %>&nbspDT</td>
        <td><%= assurance.date_paiement.strftime("%d %b, %Y") if assurance.date_paiement %></td>
        <td>
          <% if assurance.etat_paiement == 'Crédit' %>
            <%= form_with(model: assurance, method: :patch, local: true) do |form| %>
              <%= form.hidden_field :joueur_id, value: assurance.joueur_id %>
              <%= form.hidden_field :saison_id, value: assurance.saison_id %>
              <%= form.hidden_field :date_paiement, value: assurance.date_paiement %>
              <%= form.hidden_field :etat_paiement, value: 'Non crédit' %>
              <%= form.submit 'Payer', class: "btn btn-success btn-sm" %>
            <% end %>
          <% else %>
            <button class="btn btn-secondary btn-sm" disabled>Payé</button>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
