<% content_for :title, "Assurances | ESR Basket Academy" %>

<% @page_title = "Assurances"%>
<%= link_to export_csv_assurances_path(format: :csv, filter: params[:filter]), class: 'btn btn-info btn-sm float-right' do %>
  <i class="bi bi-download"></i> Exporter en CSV
<% end %>

<div class="filter-container">
  <%= link_to 'Tous', assurances_path, class: "filter-btn #{params[:filter].present? ? '' : 'active'}" %>
  <%= link_to 'Crédits', assurances_path(filter: 'credit'), class: "filter-btn #{params[:filter] == 'credit' ? 'active' : ''}" %>
  <%= link_to 'Non crédits', assurances_path(filter: 'noncredit'), class: "filter-btn #{params[:filter] == 'noncredit' ? 'active' : ''}" %>
</div>

<table class="table table-bordered datatable table-hover table-sm">
  <thead style ="color:rgb(2, 30, 144)">
    <tr>
      <th>Nom du Joueur</th>
      <th>Saison</th>
      <th>Montant</th>
      <th>Date de Paiement</th>
      <th>N° reçu</th>
    </tr>
  </thead>
  <tbody>
    <% @assurances.reverse.each do |assurance| %>
      <tr id="<%= dom_id assurance %>" class="<%= 'etat_crédit' if assurance.etat_paiement == 'Crédit' %>">
        <td>
        <% if assurance.joueur %>
            <%= link_to edit_joueur_path(assurance.joueur), class: "custom-dark" do %>
              <%= assurance.joueur ? "#{assurance.joueur.prénom} #{assurance.joueur.nom}" : "Joueur inconnu" %>
            <% end %>
          <% end %>
        </td>
        <td><%= "#{assurance.saison.date_debut.strftime('%d')} #{I18n.t('date.month_names_short')[assurance.saison.date_debut.month]} #{assurance.saison.date_debut.strftime('%Y')} à #{assurance.saison.date_fin.strftime('%d')} #{I18n.t('date.month_names_short')[assurance.saison.date_fin.month]} #{assurance.saison.date_fin.strftime('%Y')}" %></td>

        <td><%= assurance.montant %>&nbspDT</td>
        <td><%= "#{assurance.date_paiement.strftime('%d')} #{I18n.t('date.month_names_short')[assurance.date_paiement.month]}, #{assurance.date_paiement.strftime('%Y')}" if assurance.date_paiement %></td>
        <td style="text-align:center"><%= assurance.num_recu %></td>
      </tr>
    <% end %>
  </tbody>
</table>
