<% content_for :title, "Utilisateurs" %>
<% @page_title = "Utilisateurs" %>

<p>
  <%= link_to new_user_path, class: "btn btn-success btn-sm float-right mr-1" do %>
    <i class="bi bi-plus-circle"></i>&nbsp; Ajouter un utilisateur
  <% end %>
</p><br>

<table class="table table-bordered datatable table-hover table-sm">
  <thead class="table-primary" style ="color:rgb(2, 30, 144)">
    <tr>
      <th>ID</th>
      <th>Nom d'utilisateur</th>
      <th>Email</th>
      <th>Rôle</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr id="<%= dom_id user %>">
        <td><%= user.id %></td>
        <td><%= user.user_name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
          <%= link_to "Modifier", edit_user_path(user), class: "btn btn-secondary btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
