<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>

<h1>Utilisateurs</h1>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>Nom</th>
      <th>Email</th>
      <th>Mot de Passe</th>
      <th>Rôle</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr id="<%= dom_id user %>">
        <td><%= user.Name %></td>
        <td><%= user.email %></td>
        <td><%= user.mot_de_passe %></td>
        <td><%= user.role %></td>
        <td>
          <%= link_to "Afficher", user, class: "btn btn-primary btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Nouvel utilisateur", new_user_path, class: "btn btn-success" %>
