<nav class="navbar-vertical">
  <div class="navbar-logo">
    <%= link_to root_path do %>
      <%= image_tag "logo_BASKET.jpg", class: "image_logo" %>
    <% end %>
  </div>
  <div class="navbar-menu">
    <%= link_to "Dashboard", root_path, class: "nav-link btn" %>
    <%= link_to "Joueurs", joueurs_path, class: "nav-link btn" %>
    <%= link_to "Parents", parents_path, class: "nav-link btn" %>
    <%= link_to "Paiements", paiement_index_path, class: "nav-link btn" %>
    <%= link_to "Assurances", assurance_index_path, class: "nav-link btn" %>
    <%= link_to "Achats", achat_index_path, class: "nav-link btn" %>
    <%= link_to "Crédits", credit_index_path, class: "nav-link btn" %>
    <%= link_to "Entraîneurs", entraineurs_path, class: "nav-link btn" %>
    <%= link_to "Dépenses", depenses_path, class: "nav-link btn" %>
    
    <div class="nav-section">
      <span class="nav-label">Configuration</span>
      <ul class="nav-list">
        <li><%= link_to "Utilisateurs", users_path, class: "nav-link btn" %></li>
        <li><%= link_to "Saisons", saisons_path, class: "nav-link btn" %></li>
      </ul>
    </div>
  </div>
</nav>
