<nav class="navbar-vertical">
  <div class="navbar-logo">
    <%= link_to root_path do %>
      <%= image_tag "logo_BASKET.jpg", class: "image_logo" %>
    <% end %>
  </div>
  <div class="navbar-menu">
    <%= link_to "Tableau de bord", root_path, class: "nav-link btn" %>
    <%= link_to "Joueurs", joueurs_path, class: "nav-link btn" %>
    <%= link_to "Paiements", paiements_path, class: "nav-link btn" %>
    <%= link_to "Assurances", assurances_path, class: "nav-link btn" %>
    <%= link_to "Achats", achats_path, class: "nav-link btn" %>
    <%= link_to "Entraîneurs", entraineurs_path, class: "nav-link btn" %>
    <%= link_to "Dépenses", depenses_path, class: "nav-link btn" %>
    <%= link_to "Parents", parents_path, class: "nav-link btn" %>
    <%= link_to "Groupes", groupe_index_path, class: "nav-link btn" %>
    <div>
      <span class="nav-label" style="margin-left: 20px">Configuration</span>
      <ul class="nav-list">
        <li><%= link_to "Saisons", saisons_path, class: "nav-link btn" %></li>
        <li><%= link_to "Utilisateurs", users_path, class: "nav-link btn" %></li>
      </ul>
    </div>
  </div>
</nav>
