<nav class="navbar-vertical">
  <div class="navbar-logo">
    <%= link_to root_path do %>
      <%= image_tag "logo_BASKET.jpg", class: "image_logo" %>
    <% end %>
  </div>
  <div class="navbar-menu">
    <%= link_to root_path, class: "nav-link", style: "padding-left:20px" do %>
      <i class="bi bi-house-door"></i> Tableau de bord
    <% end %>
    <%= link_to joueurs_path, class: "nav-link", style: "padding-left:20px" do %>
      <i class="bi bi-people"></i> Joueurs
    <% end %>
    <%= link_to paiements_path, class: "nav-link", style: "padding-left:20px" do %>
      <i class="bi bi-credit-card"></i> Paiements
    <% end %>
    <%= link_to assurances_path, class: "nav-link", style: "padding-left:20px" do %>
      <i class="bi bi-shield-check"></i> Assurances
    <% end %>
    <%= link_to achats_path, class: "nav-link", style: "padding-left:20px" do %>
      <i class="bi bi-cart"></i> Achats
    <% end %>
    <%= link_to entraineurs_path, class: "nav-link", style: "padding-left:20px" do %>
      <i class="bi bi-person-workspace"></i> Entraîneurs
    <% end %>
    <%= link_to depenses_path, class: "nav-link", style: "padding-left:20px" do %>
      <i class="bi bi-cash"></i> Dépenses
    <% end %>
    <%= link_to parents_path, class: "nav-link", style: "padding-left:20px" do %>
      <i class="bi bi-people-fill"></i> Parents
    <% end %>
    <%= link_to groupe_index_path, class: "nav-link", style: "padding-left:20px" do %>
      <i class="bi bi-layers"></i> Groupes
    <% end %>
    <div>
      <span class="nav-label">Configuration</span>
      <ul class="nav-list">
        <li><%= link_to saisons_path, class: "nav-link", style: "padding-left:20px" do %>
          <i class="bi bi-calendar-check"></i> Saisons
        <% end %></li>
        <% if user_signed_in? %>
          <li><%= button_to 'Log out', destroy_user_session_path, method: :delete, class: "nav-link", style: "padding-left:20px;border:none" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
