<% selected_year = (params[:annee] || Date.today.year).to_i %>
<% selected_month = (params[:mois] || Date.today.month).to_i %>

<% content_for :title, "Dépenses" %>

<% @page_title = "Dépenses"%>

<div class="mb-3 d-flex align-items-center">
  <label for="monthPicker2" class="form-label me-2">Mois :&nbsp;</label>
  <div class="input-group" style="width:20%">
    <div class="input-group-prepend">
      <span class="input-group-text" style="background-color:rgba(119, 169, 223, 0.35)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-week" viewBox="0 0 16 16" style="color: #0069d9;">
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
          <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5zM11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </span>
    </div>
    <input 
      type="text" 
      id="monthPicker2" 
      class="form-control monthpicker" 
      value="<%= "#{selected_year}-#{selected_month.to_s.rjust(2, '0')}" %>" 
      onchange="redirectToMonth(this)">
  </div>
  &nbsp;<%= link_to "Ce mois", depenses_path, class: "btn btn-secondary" %>
</div>

<table class="table table-bordered datatable table-hover table-sm">
  <thead class="table-primary" style ="color:rgb(2, 30, 144)">
    <tr>
      <th>ID</th>
      <th>Désignation</th>
      <th>Prix</th>
      <th>Date de dépense</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% filtered_depenses = @depenses.select do |depense| 
         depense.date_depense.year == selected_year && 
         depense.date_depense.month == selected_month 
       end %>
    <% filtered_depenses.each do |depense| %>
      <tr id="<%= dom_id depense %>">
        <td><%= depense.id %></td>
        <td><%= depense.designation %></td>
        <td><%= "#{depense.prix} DT" %></td>
        <td><%= "#{depense.date_depense.strftime('%d')} #{I18n.t('date.month_names_short')[depense.date_depense.month]}, #{depense.date_depense.strftime('%Y')}" %></td>
        <td>
          <%= link_to "Modifier", edit_depense_path(depense), class: "btn btn-primary btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to "Nouvelle dépense", new_depense_path, class: "btn btn-success" %>
</p>

<script>
  function redirectToMonth(input) {
    const [year, month] = input.value.split('-');
    const url = new URL(window.location.href);
    url.searchParams.set('annee', year);
    url.searchParams.set('mois', month);
    window.location.href = url.toString();
  }
</script>
