<p style="color: green"><%= notice %></p>

<%= render @depense %>

<div>
  <%= link_to "Edit this depense", edit_depense_path(@depense) %> |
  <%= link_to "Back to depenses", depenses_path %>

  <%= button_to "Destroy this depense", @depense, method: :delete %>
</div>
