<p style="color: green"><%= notice %></p>

<% content_for :title, "Crédits" %>

<h1>Crédits</h1>

<div id="credits">
  <% @credits.each do |credit| %>
    <div id="<%= dom_id credit %>">
  <p>
    <strong>Type:</strong>
    <%= credit.type_credit %>
  </p>

  <p>
    <strong>montant:</strong>
    <%= credit.montant %>
  </p>

  <p>
    <strong>Statut :</strong>
    <%= credit.statut %>
  </p>

  <p>
    <strong>date_credit:</strong>
    <%= credit.date_credit %>
  </p>

  <p>
    <strong>Note :</strong>
    <%= credit.note %>
  </p>

  <p>
    <strong>Joueur:</strong>
    <%= credit.joueur.prénom %>
  </p>

</div>
  <% end %>
</div>
