<div >
    <h1>Dashbord</h1>
    <p><strong>Total des dépenses : </strong><%= @total_depenses %> DT</p>
    <p><strong>Total des salaires : </strong><%= @total_salaires %> DT</p>  
    <p><strong>Total des salaires en 2025 : </strong><%= @total_salaires_2025 %> DT</p> 
    <p><strong>Total des salaires en Février 2025 : </strong><%= @total_salaires_2025_2 %> DT</p>
    <p><strong>Nombre total des joueurs : </strong><%= @nb_joueurs %></p>
    <p><strong>Nombre des nouveaux joueurs en 2025 : </strong><%= @nb_joueurs_2025 %></p>
</div>
