<% selected_year = (params[:annee] || Date.today.year).to_i %>
<% selected_month = (params[:mois] || Date.today.month).to_i %>

<div class="container my-4">
  <h1 class="mb-4">Tableau de bord</h1>
  <h5>Par année :</h5>
  <div class="mb-3 d-flex align-items-center">
    <select 
        class="form-control" 
        style="width: 20%;" 
        onchange="redirectToYearDashbord(this)">
      <% (2024..Date.today.year).each do |year| %>
        <option value="<%= year %>" <%= 'selected' if year == selected_year %>>
          <%= year %>
        </option>
      <% end %>
    </select>
    &nbsp;
    <%= link_to "Cette année", root_path, class: "btn btn-secondary" %>
  </div>

  <div class="container my-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col-3 mt-3">
        <div class="card border-info text-center">
          <div class="card-header">Nouveaux joueurs</div>
          <div class="card-body">
            <h5 class="card-title"><%= @nb_joueurs_for_year %></h5>
          </div>
        </div>
      </div>

      <div class="col-3 mt-3">
        <div class="card border-success text-center">
          <div class="card-header">Recette Abonnements</div>
          <div class="card-body">
            <h5 class="card-title"><%= @total_abonnements_for_year %> DT</h5>
          </div>
        </div>
      </div>

      <div class="col-3 mt-3">
        <div class="card border-success text-center">
          <div class="card-header">Assurances</div>
          <div class="card-body">
            <h5 class="card-title"><%= @total_assurances_for_year %> DT</h5>
          </div>
        </div>
      </div>

      <div class="col-3 mt-3">
        <div class="card border-success text-center">
          <div class="card-header">Recette Achats</div>
          <div class="card-body">
            <h5 class="card-title"><%= @total_achats_for_year %> DT</h5>
          </div>
        </div>
      </div>

      <div class="col-3 mt-3">
        <div class="card border-primary text-center">
          <div class="card-header">Total</div>
          <div class="card-body">
            <h5 class="card-title"><%= @total_for_year %> DT</h5>
          </div>
        </div>
      </div>

      <div class="col-3 mt-3">
        <div class="card border-warning text-center">
          <div class="card-header">Crédits</div>
          <div class="card-body">
            <h5 class="card-title"><%= @total_crédits_for_year %> DT</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <h5>Par mois :</h5>
  <div class="mb-3 d-flex align-items-center">
    <select 
      class="form-control" 
      style="width: 20%;" 
      onchange="redirectToMonthDashbord(this)">
      <% Date::MONTHNAMES.each_with_index do |month, index| %>
        <% next if index == 0 %>
        <option value="<%= index %>" <%= 'selected' if index == selected_month %>>
          <%= month %>
        </option>
      <% end %>
    </select>&nbsp;
    <%= link_to "Ce mois", root_path, class: "btn btn-secondary" %>
  </div>

  <div class="container my-4">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    
    <div class="col-3 mt-3">
      <div class="card border-info text-center">
        <div class="card-header">Nouveaux joueurs</div>
        <div class="card-body">
          <h5 class="card-title"><%= @nb_joueurs_for_month %></h5>
        </div>
      </div>
    </div>

    <div class="col-3 mt-3">
      <div class="card border-success text-center">
        <div class="card-header">Recette Abonnements</div>
        <div class="card-body">
          <h5 class="card-title"><%= @total_abonnements_for_month %> DT</h5>
        </div>
      </div>
    </div>

    <div class="col-3 mt-3">
      <div class="card border-success text-center">
        <div class="card-header">Assurances</div>
        <div class="card-body">
          <h5 class="card-title"><%= @total_assurances_for_month %> DT</h5>
        </div>
      </div>
    </div>

    <div class="col-3 mt-3">
      <div class="card border-success text-center">
        <div class="card-header">Recette Achats</div>
        <div class="card-body">
          <h5 class="card-title"><%= @total_achats_for_month %> DT</h5>
        </div>
      </div>
    </div>

    <div class="col-3 mt-3">
      <div class="card border-primary text-center">
        <div class="card-header">Total</div>
        <div class="card-body">
          <h5 class="card-title"><%= @total_for_month %> DT</h5>
        </div>
      </div>
    </div>

    <div class="col-3 mt-3">
      <div class="card border-warning text-center">
        <div class="card-header">Crédits</div>
        <div class="card-body">
          <h5 class="card-title"><%= @total_crédits_for_month %> DT</h5>
        </div>
      </div>
    </div>

    <div class="col-3 mt-3">
      <div class="card border-danger text-center">
        <div class="card-header">Total des salaires</div>
        <div class="card-body">
          <h5 class="card-title"><%= @total_salaires_for_month %> DT</h5>
        </div>
      </div>
    </div>

    <div class="col-3 mt-3">
      <div class="card border-danger text-center">
        <div class="card-header">Total des dépenses</div>
        <div class="card-body">
          <h5 class="card-title"><%= @total_depenses_for_month %> DT</h5>
        </div>
      </div>
    </div>

    <div class="col-3 mt-3">
      <div class="card border-secondary text-center">
        <div class="card-header">Surplus / Déficit</div>
        <div class="card-body">
          <h5 class="card-title"><%= @surplus_déficit_month %> DT</h5>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<script>
  function redirectToMonthDashbord(select) {
    const month = select.value;
    const url = new URL(window.location.href);
    url.searchParams.set('mois', month);
    window.location.href = url.toString();
  }
  function redirectToYearDashbord(select) {
    const year = select.value;
    const url = new URL(window.location.href);
    url.searchParams.set('annee', year);
    window.location.href = url.toString();
  }
</script>