<% selected_year = (params[:annee] || Date.today.year).to_i %>
<% selected_month = (params[:mois] || Date.today.month).to_i %>


<% @page_title = "Tableau de bord"%>
  <h5>Par année :</h5>
  <div class="mb-3 d-flex align-items-center">
    <select 
        class="form-control" 
        style="width: 20%;" 
        onchange="redirectToYearDashbord(this)">
      <% (2024..Date.today.year).each do |year| %>
        <option value="<%= year %>" <%= 'selected' if year == selected_year %>>
          <%= year %>
        </option>
      <% end %>
    </select>
    &nbsp;
    <%= link_to "Cette année", request.path + "?" + request.query_parameters.except(:annee).to_query, class: "btn btn-secondary" %>
  </div>

  <div class="container my-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col-3 mt-3">
        <div class="card border-info text-center">
          <div class="card-header text-bg-info" style="font-size:larger">Nouveaux joueurs</div>
          <div class="card-body">
            <h5 class="card-title"><%= @nb_joueurs_for_year %></h5>
          </div>
        </div>
      </div>

      <div class="col-3 mt-3">
        <div class="card border-success text-center">
          <div class="card-header" style="font-size:larger">Recette Abonnements</div>
          <div class="card-body">
            <h5 class="card-title"><%= @total_abonnements_for_year %> DT</h5>
          </div>
        </div>
      </div>

      <div class="col-3 mt-3">
        <div class="card border-success text-center">
          <div class="card-header" style="font-size:larger">Assurances</div>
          <div class="card-body">
            <h5 class="card-title"><%= @total_assurances_for_year %> DT</h5>
          </div>
        </div>
      </div>

      <div class="col-3 mt-3">
        <div class="card border-success text-center">
          <div class="card-header" style="font-size:larger">Recette Achats</div>
          <div class="card-body">
            <h5 class="card-title"><%= @total_achats_for_year %> DT</h5>
          </div>
        </div>
      </div>

      <div class="col-3 mt-3">
        <div class="card border-primary text-center">
          <div class="card-header" style="font-size:larger">Total</div>
          <div class="card-body">
            <h5 class="card-title"><%= @total_for_year %> DT</h5>
          </div>
        </div>
      </div>

      <div class="col-3 mt-3">
        <div class="card border-warning text-center">
          <div class="card-header" style="font-size:larger">Crédits</div>
          <div class="card-body">
            <h5 class="card-title"><%= @total_crédits_for_year %> DT</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%
  # Calcul des revenus
  paiements = Paiement.group_by_month(:date_abonnement, locale: :en, format: "%b %Y").where("etat_abonnement = 'Non crédit'").sum(:montant)
  assurances = Assurance.group_by_month(:date_paiement, locale: :en, format: "%b %Y").where("etat_paiement = 'Non crédit'").sum(:montant)
  achats = Achat.group_by_month(:date_achat, locale: :en, format: "%b %Y").where("etat_paiement = 'Non crédit'").sum(:prix)

  all_revenue_months = (paiements.keys + assurances.keys + achats.keys).uniq.sort

  revenues = all_revenue_months.each_with_object({}) do |month, combined|
    combined[month] = paiements[month].to_f + assurances[month].to_f + achats[month].to_f
  end

  # Calcul des dépenses
  salaires = Salaire.all.each_with_object({}) do |salaire, hash|
    month_key = Date.new(salaire.annee, salaire.mois, 1).strftime("%b %Y")
    hash[month_key] ||= 0
    hash[month_key] += salaire.salaire.to_f
  end
  depenses = Depense.group_by_month(:date_depense, locale: :en, format: "%b %Y").sum(:prix)

  all_expense_months = (salaires.keys + depenses.keys).uniq.sort

  expenses = all_expense_months.each_with_object({}) do |month, combined|
    combined[month] = salaires[month].to_f + depenses[month].to_f
  end

  # Regroupement de toutes les clés de mois
  all_months = (revenues.keys + expenses.keys).uniq.sort
%>
<div style="background-color:#ffffff;width:95%;margin:auto">
<%= line_chart [
  { name: "Revenus", data: revenues, color: "#3498db" },
  { name: "Dépenses", data: expenses, color: "#e74c3c" }
], 
xmin: "Jan #{selected_year}", 
xmax: "Dec #{selected_year}",
xtitle: "Mois", 
ytitle: "Montant en DT", 
title: "Revenus et Dépenses mensuels - Année #{selected_year}", 
download: { filename: "revenus_depenses_#{selected_year}", background: "#ffffff" }, 
background: "#ffffff" %>
</div>

  <hr>
  <h5>Par mois :</h5>
  <div class="mb-3 d-flex align-items-center">
    <select 
      class="form-control" 
      style="width: 20%;" 
      onchange="redirectToMonthDashbord(this)">
      <%  I18n.t('date.month_names').each_with_index do |month, index| %>
        <% next if index == 0 %>
        <option value="<%= index %>" <%= 'selected' if index == selected_month %>>
          <%= month %>
        </option>
      <% end %>
    </select>&nbsp;
    <%= link_to "Ce mois", root_path, class: "btn btn-secondary" %>
  </div>

  <div class="container my-4">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    
    <div class="col-3 mt-3">
      <div class="card border-info text-center">
        <div class="card-header" style="font-size:larger">Nouveaux joueurs</div>
        <div class="card-body">
          <h5 class="card-title"><%= @nb_joueurs_for_month %></h5>
        </div>
      </div>
    </div>

    <div class="col-3 mt-3">
      <div class="card border-success text-center">
        <div class="card-header" style="font-size:larger">Recette Abonnements</div>
        <div class="card-body">
          <h5 class="card-title"><%= @total_abonnements_for_month %> DT</h5>
        </div>
      </div>
    </div>

    <div class="col-3 mt-3">
      <div class="card border-success text-center">
        <div class="card-header" style="font-size:larger">Assurances</div>
        <div class="card-body">
          <h5 class="card-title"><%= @total_assurances_for_month %> DT</h5>
        </div>
      </div>
    </div>

    <div class="col-3 mt-3">
      <div class="card border-success text-center">
        <div class="card-header" style="font-size:larger">Recette Achats</div>
        <div class="card-body">
          <h5 class="card-title"><%= @total_achats_for_month %> DT</h5>
        </div>
      </div>
    </div>

    <div class="col-3 mt-3">
      <div class="card border-primary text-center">
        <div class="card-header" style="font-size:larger">Total</div>
        <div class="card-body">
          <h5 class="card-title"><%= @total_for_month %> DT</h5>
        </div>
      </div>
    </div>

    <div class="col-3 mt-3">
      <div class="card border-warning text-center">
        <div class="card-header" style="font-size:larger">Crédits</div>
        <div class="card-body">
          <h5 class="card-title"><%= @total_crédits_for_month %> DT</h5>
        </div>
      </div>
    </div>

    <div class="col-3 mt-3">
      <div class="card border-danger text-center">
        <div class="card-header" style="font-size:larger">Total des salaires</div>
        <div class="card-body">
          <h5 class="card-title"><%= @total_salaires_for_month %> DT</h5>
        </div>
      </div>
    </div>

    <div class="col-3 mt-3">
      <div class="card border-danger text-center">
        <div class="card-header" style="font-size:larger">Total des dépenses</div>
        <div class="card-body">
          <h5 class="card-title"><%= @total_depenses_for_month %> DT</h5>
        </div>
      </div>
    </div>

    <div class="col-3 mt-3">
      <div class="card border-secondary text-center">
        <div class="card-header" style="font-size:larger">Surplus / Déficit</div>
        <div class="card-body">
          <h5 class="card-title"><%= @surplus_déficit_month %> DT</h5>
        </div>
      </div>
    </div>
  </div>
</div>
  <div style="background-color:#ffffff;width:95%;margin:auto">
    <%= column_chart [
      { name: "Total Abonnements", data: { "Abonnements" => @total_abonnements_for_month }},
      { name: "Total Assurances", data: { "Assurances" => @total_assurances_for_month }},
      { name: "Total Achats", data: { "Achats" => @total_achats_for_month }},
      { name: "Total Revenue", data: { "Total" => @total_for_month }},
      { name: "Credits", data: { "Crédits" => @total_crédits_for_month }},
      { name: "Total Salaires", data: { "Salaires" => @total_salaires_for_month }},
      { name: "Total Dépenses", data: { "Dépenses" => @total_depenses_for_month }}
    ], 
    height: "350px",
    download: { filename: "recette_paiements_#{selected_month}_#{selected_year}", background: "#ffffff" }, 
    title: "Bilan Financier Mensuel - #{I18n.t('date.month_names')[selected_month]} #{selected_year}",
    xtitle: "Catégories", 
    ytitle: "Montant total en DT", 
    library: {
      scales: {
        x: {
          ticks: { autoSkip: false }
        }
      },
      datasets: {
        bar: {
          barPercentage: 1, # Ajustez entre 0.1 et 1 pour la largeur relative des barres
          categoryPercentage: 1 # Contrôle l'espace entre les groupes de barres
        }
      }
    } %>
  </div>

<script>
  function redirectToMonthDashbord(select) {
    const month = select.value;
    const url = new URL(window.location.href);
    url.searchParams.set('mois', month);
    window.location.href = url.toString();
  }
  function redirectToYearDashbord(select) {
    const year = select.value;
    const url = new URL(window.location.href);
    url.searchParams.set('annee', year);
    window.location.href = url.toString();
  }
</script>