<div id="<%= dom_id saison %>">
  <p>
    <strong>ID:</strong>
    <%= saison.id %>
  </p>

  <p>
    <strong>Date debut:</strong>
    <%= saison.date_debut %>
  </p>

  <p>
    <strong>Date fin:</strong>
    <%= saison.date_fin %>
  </p>

  <p>
    <strong>Montant Abonnement:</strong>
    <%= saison.montant_abonnement %>
  </p>

  <p>
    <strong>Montant Assurance</strong>
    <%= saison.montant_assurance %>
  </p>
</div>
