<p style="color: green"><%= notice %></p>

<% content_for :title, "Saisons" %>

<h1>Saisons</h1>

<table class="table table-bordered datatable">
  <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>Date Début</th>
      <th>Date Fin</th>
      <th>Montant Abonnement (DT)</th>
      <th>Montant Assurance (DT)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @saisons.each do |saison| %>
      <tr id="<%= dom_id saison %>">
        <td><%= saison.id %></td>
        <td><%= "#{saison.date_debut.strftime('%d')} #{I18n.t('date.month_names_short')[saison.date_debut.month]}, #{saison.date_debut.strftime('%Y')}" if saison.date_debut %></td>
        <td><%= "#{saison.date_fin.strftime('%d')} #{I18n.t('date.month_names_short')[saison.date_fin.month]}, #{saison.date_fin.strftime('%Y')}" if saison.date_fin %></td>
        <td><%= saison.montant_abonnement %></td>
        <td><%= saison.montant_assurance %></td>
        <td>
          <%= link_to "Modifier", edit_saison_path(saison), class: "btn btn-primary btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Nouvelle saison", new_saison_path, class: "btn btn-success" %>
