<% content_for :title, "Saisons" %>
<% @page_title = "Saisons"%>

<p>
  <%= link_to new_saison_path, class: "btn btn-success btn-sm float-right mr-1" do %>
    <i class="bi bi-plus-circle"></i>&nbsp; Ajouter une saison
  <% end %>
</p><br>
<table class="table table-bordered datatable table-hover table-sm">
  <thead class="table-primary" style ="color:rgb(2, 30, 144)">
    <tr>
      <th>ID</th>
      <th>Date Début</th>
      <th>Date Fin</th>
      <th>Montant Abonnement (DT)</th>
      <th>Montant Assurance (DT)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @saisons.each do |saison| %>
      <tr id="<%= dom_id saison %>">
        <td><%= saison.id %></td>
        <td><%= "#{saison.date_debut.strftime('%d')} #{I18n.t('date.month_names_short')[saison.date_debut.month]}, #{saison.date_debut.strftime('%Y')}" if saison.date_debut %></td>
        <td><%= "#{saison.date_fin.strftime('%d')} #{I18n.t('date.month_names_short')[saison.date_fin.month]}, #{saison.date_fin.strftime('%Y')}" if saison.date_fin %></td>
        <td><%= saison.montant_abonnement %></td>
        <td><%= saison.montant_assurance %></td>
        <td>
          <%= link_to "Modifier", edit_saison_path(saison), class: "btn btn-secondary btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>