<% content_for :title, "New Saison" %>

<div>
  <%= link_to "Saisons >", saisons_path %>
</div>

<%= form_with(model: @saison, class: "new_forms needs-validation", local: true, html: { novalidate: true }) do |form| %>
  <h1>Nouvelle saison :</h1><br>
  
  <% if @saison.errors.any? %>
    <div class="custom-alert" role="alert">
      <h2>
        <%= pluralize(@saison.errors.count, "erreur", "erreurs") %> détectée<%= 's' if @saison.errors.count > 1 %> :
      </h2>
      <ul>
        <% @saison.errors.full_messages.each do |message| %>
          <li style="list-style-type: none;">
            <i class="bi bi-exclamation-triangle-fill"></i>&nbsp; <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :date_debut, "Date de début *", class: "form-label" %>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" style="background-color:rgba(119, 169, 223, 0.35)">
          <i class="bi bi-calendar2-week" style="color: #0069d9;"></i>
        </span>
      </div>
      <%= form.text_field :date_debut, class: "form-control datepicker", placeholder: "Date de début", required: true, autocomplete: "off" %>
      <div class="invalid-feedback">
        <i class="bi bi-exclamation-circle mr-1 ml-1"></i>La date de début est obligatoire.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :date_fin, "Date de fin *", class: "form-label" %>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" style="background-color:rgba(119, 169, 223, 0.35)">
          <i class="bi bi-calendar2-week" style="color: #0069d9;"></i>
        </span>
      </div>
      <%= form.text_field :date_fin, class: "form-control datepicker", placeholder: "Date de fin", required: true, autocomplete: "off" %>
      <div class="invalid-feedback">
        <i class="bi bi-exclamation-circle mr-1 ml-1"></i>La date de fin est obligatoire.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :montant_abonnement, "Montant Abonnement (DT) *", class: "form-label" %>
    <%= form.number_field :montant_abonnement, class: "form-control", step: 0.01, placeholder: "Montant de l'abonnement par défaut", required: true, min: "0" %>
    <div class="invalid-feedback">
      <i class="bi bi-exclamation-circle mr-1 ml-1"></i>Le montant de l'abonnement est obligatoire et doit être un nombre positif.
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :montant_assurance, "Montant Assurance (DT) *", class: "form-label" %>
    <%= form.number_field :montant_assurance, class: "form-control", step: 0.01, placeholder: "Montant de l'assurance par défaut", required: true, min: "0" %>
    <div class="invalid-feedback">
      <i class="bi bi-exclamation-circle mr-1 ml-1"></i>Le montant de l'assurance est obligatoire et doit être un nombre positif.
    </div>
  </div>


  <div class="mb-3">
    <%= form.submit "Créer Saison", class: "btn btn-primary" %>
  </div>
<% end %>
