<% content_for :title, "Paiements" %>
<% @page_title = "Paiements"%>

<div class="mb-3">
  <%= link_to 'Tous', paiements_path, class: 'btn btn-info btn-sm' %>
  <%= link_to 'Active', paiements_path(filter: 'active'), class: 'btn btn-info btn-sm' %>
  <%= link_to 'Expiré', paiements_path(filter: 'expired'), class: 'btn btn-info btn-sm' %>
  <%= link_to 'Crédit', paiements_path(filter: 'credit'), class: 'btn btn-info btn-sm' %>
  <%= link_to 'Non crédit', paiements_path(filter: 'noncredit'), class: 'btn btn-info btn-sm' %>
</div>

<%= link_to export_csv_paiements_path(format: :csv, filter: params[:filter]), class: 'btn btn-info btn-sm float-right' do %>
  <i class="bi bi-download"></i> Exporter en CSV
<% end %><br>

<table class="table table-bordered datatable table-hover table-sm">
    <thead class="table-primary" style ="color:rgb(2, 30, 144)">
    <tr>
      <th>Nom du Joueur</th>
      <th>Date d'Abonnement</th>
      <th>Date d'Encaissement</th>
      <th>Expire</th>
      <th>Paiement</th>
      <th>N° reçu</th>
      <th>Etat de paiement</th>
    </tr>
  </thead>
  <tbody>
    <% @paiements.reverse.each do |paiement| %>
        <tr id="<%= dom_id paiement %>"
          class="<%= 
            if paiement == paiement.joueur.paiements.last
              if (paiement.joueur.paiements.last.date_abonnement + 30.days - Date.today).to_i < 0
                'etat_expiré'
              else
                ''
              end
            else
              'etat_passé'
            end
          %>">
        <td>
          <% if paiement.joueur %>
            <%= link_to edit_joueur_path(paiement.joueur), class: "custom-dark" do %>
              <%= paiement.joueur ? "#{paiement.joueur.prénom} #{paiement.joueur.nom}" : "Joueur inconnu" %>
            <% end %>
          <% end %>
        </td>
        <td><%= "#{paiement.date_abonnement.strftime('%d')} #{I18n.t('date.month_names_short')[paiement.date_abonnement.month]}, #{paiement.date_abonnement.strftime('%Y')}" if paiement.date_abonnement %></td>
        <td><%= "#{paiement.date_encaissement.strftime('%d')} #{I18n.t('date.month_names_short')[paiement.date_encaissement.month]}, #{paiement.date_encaissement.strftime('%Y')}" if paiement.date_encaissement %></td>
        <td> 
          <% expiration_date = paiement.date_abonnement + 30.days %>
          <%= "#{expiration_date.strftime('%d')} #{I18n.t('date.month_names_short')[expiration_date.month]}, #{expiration_date.strftime('%Y')}" %>
          <br><strong>
            <% if paiement == paiement.joueur.paiements.last %>
              <% if (expiration_date - Date.today).to_i > 0 %>
              reste : <%= (expiration_date - Date.today).to_i %> jours
              <% elsif (expiration_date - Date.today).to_i == 0 %>
              Aujourd'hui
              <% else
              %>
              </strong>
              <span style="color:red">(Expiré)</span>
              <%end
               %>
            <% end %>
        </td>
        <td class="<%= 
        if paiement.etat_abonnement == 'Crédit'
          'etat_crédit'
        else
          ''
        end
      %>"><%= paiement.montant %>&nbspDT</td>
        <td style="text-align:center"><%= paiement.num_recu %></td>
        <td class="<%= 
        if paiement.etat_abonnement == 'Crédit'
          'etat_crédit'
        else
          ''
        end
      %>"><%= paiement.etat_abonnement %></td>
      </tr>
    <% end %>
  </tbody>
</table>