<p style="color: green"><%= notice %></p>

<% content_for :title, "Paiements" %>

<h1>Paiements</h1>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>Nom du Joueur</th>
      <th>Date d'Abonnement</th>
      <th>Date d'Encaissement</th>
      <th>Expire</th>
      <th>Paiement</th>
      <th>Etat de paiement</th>
    </tr>
  </thead>
  <tbody>
    <% @paiements.reverse.each do |paiement| %>
        <tr id="<%= dom_id paiement %>" 
          class="<%= 
            if paiement == paiement.joueur.paiements.last
              if (paiement.joueur.paiements.last.date_abonnement + 30.days - Date.today).to_i < 0
                'etat_expiré'
              else
                ''
              end
            else
              'etat_passé'
            end
          %>">
        <td><%= paiement.joueur ? "#{paiement.joueur.prénom} #{paiement.joueur.nom}" : "Joueur inconnu" %></td>
        <td><%= paiement.date_abonnement.strftime("%d %b, %Y") if paiement.date_abonnement %></td>
        <td><%= paiement.date_encaissement.strftime("%d %b, %Y") if paiement.date_encaissement %></td>
        <td> 
          <% expiration_date = paiement.date_abonnement + 30.days %>
          <%= expiration_date.strftime("%d %b, %Y") %>
          <br><strong>
            <% if paiement == paiement.joueur.paiements.last %>
              <% if (expiration_date - Date.today).to_i > 0 %>
              reste : <%= (expiration_date - Date.today).to_i %> jours
              <% elsif (expiration_date - Date.today).to_i == 0 %>
              Aujourd'hui
              <% else
              %>
              </strong>
              <span style="color:red">(Expiré)</span>
              <%end
               %>
            <% end %>
        </td>

        <td class="<%= 
        if paiement.etat_abonnement == 'Crédit'
          'etat_crédit'
        else
          ''
        end
      %>"><%= paiement.montant %>&nbspDT</td>
        <td class="<%= 
        if paiement.etat_abonnement == 'Crédit'
          'etat_crédit'
        else
          ''
        end
      %>"><%= paiement.etat_abonnement %></td>
        <td class="<%= 
        if paiement.etat_abonnement == 'Crédit'
          'etat_crédit'
        else
          ''
        end
      %>">
          <% if paiement.etat_abonnement == 'Crédit' %>
            <%= form_with(model: paiement, method: :patch, local: true) do |form| %>
              <%= form.hidden_field :joueur_id, value: paiement.joueur_id %>
              <%= form.hidden_field :montant, value: paiement.montant %>
              <%= form.hidden_field :date_abonnement, value: paiement.date_abonnement %>
              <%= form.hidden_field :date_encaissement, value: paiement.date_encaissement %>
              <%= form.hidden_field :etat_abonnement, value: 'Active' %>
              <%= form.submit 'Payer', class: "btn btn-success btn-sm" %>
            <% end %>
          <% else %>
            <button class="btn btn-secondary btn-sm" disabled>Payé</button>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>