<div id="<%= dom_id parent %>" class="parent-details">
  <p><strong>Nom:</strong> <%= parent.nom %></p>
  <p><strong>Prénom:</strong> <%= parent.prénom %></p>
  <p><strong>Téléphone:</strong> <%= parent.téléphone %></p>
  <p><strong>Créé le:</strong> <%= parent.created_at.strftime("%d %b, %Y %H:%M") %></p>
</div>
