<p class="notice"><%= notice %></p>

<% content_for :title, "Parents" %>

<h1>Parents</h1>

<div id="parents">
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Téléphone</th>
        <th>Créé le</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @parents.each do |parent| %>
        <tr id="<%= dom_id parent %>">
          <td><%= parent.id %></td>
          <td><%= parent.nom %></td>
          <td><%= parent.prénom %></td>
          <td><%= parent.téléphone %></td>
          <td><%= parent.created_at.strftime("%d %b, %Y %H:%M") %></td>
          <td>
            <%= link_to "Show", parent, class: "btn btn-primary btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p>
  <%= link_to "New parent", new_parent_path, class: "btn btn-success" %>
</p>
