<p class="notice"><%= notice %></p>

<div class="parent-show">
  <%= render @parent %>
</div>

<div class="actions">
  <%= link_to "Edit this parent", edit_parent_path(@parent) %> |
  <%= link_to "Back to parents", parents_path %>
  <%= button_to "Destroy this parent", @parent, method: :delete %>
</div>
