<% content_for :title, "Groupes" %>
<% @page_title = "Groupes" %>

<p>
  <%= link_to "Nouveau groupe", new_groupe_path, class: "btn btn-success" %>
</p>

<%= pie_chart @groupes_joueurs_count, 
      labels: @groupes_joueurs_count.map { |groupe| groupe[0] },
      data: @groupes_joueurs_count.map { |groupe| groupe[1] } %>

<table class="table table-bordered datatable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Age</th>
      <th>Entraîneur</th>
      <th>Jour</th>
      <th>Terrain</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @groupes.each do |groupe| %>
      <tr>
        <td><%= groupe.id %></td>
        <td><%= "#{groupe.age_min}-#{groupe.age_max} ans" %></td>        
        <td><%= groupe.entraineur&.nom || "Aucun" %></td>
        <td><%= groupe.jour %></td>
        <td><%= groupe.terrain %></td>
        <td>
          <button class="btn btn-info btn-sm" onclick="toggleJoueurs('<%= groupe.id %>')">
              Afficher les joueurs
            </button>
          <%= link_to "Modifier", edit_groupe_path(groupe), class: "btn btn-primary btn-sm" %>
          <%= button_to "Supprimer", groupe_path(groupe), method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="joueurs-details-container">
  <% @groupes.each do |groupe| %>
    <div class="card my-3" id="joueurs-details-<%= groupe.id %>" style="display: none;">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5>Détails des joueurs du groupe <%= "#{groupe.age_min}-#{groupe.age_max} ans" %></h5>
        <button class="btn btn-secondary btn-icon-only" onclick="hideJoueursDetails('<%= groupe.id %>')"><i class="bi bi-x-lg"></i></button>
      </div>
      <div class="card-body">
        <% if groupe.joueurs.any? %>
          <table class="table table-sm table-striped">
            <thead>
              <tr>
                <th>Nom et prénom</th>
                <th>Age</th>
                <th>Assurance</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% groupe.joueurs.each do |joueur| %>
                <tr>
                  <td><%= "#{joueur.prénom} #{joueur.nom}" %></td>
                  <td><%= ((Date.today - joueur.date_naissance).to_i / 365.25).to_i if joueur.date_naissance %></td>
                  <td>
                    <% if joueur.assurances.any? { |assurance| assurance.saison_id == @saison.id } %>
                      <% assurance_actuelle = joueur.assurances.find { |assurance| assurance.saison_id == @saison.id } %>
                      <%= assurance_actuelle.etat_paiement %>
                    <% else %>
                      Non payé
                    <% end %>
                  </td>
                  <td>
                    <%= link_to "Modifier", edit_joueur_path(joueur), class: "btn btn-primary btn-sm" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>Aucun joueur trouvé pour ce groupe.</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<script>
  function toggleJoueurs(groupeId) {
  // Masquer toutes les lignes des joueurs
  document.querySelectorAll('#joueurs-details-container .card').forEach(function(card) {
    card.style.display = 'none';
  });

  // Afficher les détails du groupe sélectionné
  var detailsContainer = document.getElementById('joueurs-details-' + groupeId);
  if (detailsContainer.style.display === 'none') {
    detailsContainer.style.display = 'block';
    detailsContainer.scrollIntoView({ behavior: 'smooth', block: 'start' });
  } else {
    detailsContainer.style.display = 'none';
  }
}


  function hideJoueursDetails(groupeId) {
    var detailsContainer = document.getElementById('joueurs-details-' + groupeId);
    detailsContainer.style.display = 'none';
  }
</script>
