<%= form_with model: @groupe, local: true do |form| %>
  <% if @groupe.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @groupe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :heure_debut, "Heure de début" %>
    <%= form.text_field :heure_debut, step: 1, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :heure_fin, "Heure de fin" %>
    <%= form.text_field :heure_fin, step: 1, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :jour %>
    <%= form.select :jour, 
                    I18n.t('date.day_names').map { |day| [day, day] }, 
                    { prompt: "Sélectionner un jour" }, 
                    {class: "custom-select"} %>
  </div>

  <div class="mb-3">
    <%= form.label :terrain %>
    <%= form.select :terrain, 
                    [["A", "A"], ["B", "B"]], 
                    { prompt: "Sélectionner un terrain" }, 
                    { class: "custom-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :age_min, "Age minimum" %>
    <%= form.number_field :age_min, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :age_max, "Age maximum" %>
    <%= form.number_field :age_max, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :entraineur_id, "Entraîneur", class: "form-label" %>
    <%= form.select :entraineur_id, 
          Entraineur.all.map { |e| ["#{e.prénom} #{e.nom}", e.id, { "data-salaire" => e.salaire }] }, 
          { prompt: "Sélectionner un entraîneur" }, 
          { class: "custom-select" } %>
  </div>


  <div>
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
