<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "ESR Basketball Academy" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="<%= image_url 'logo2.jpg' %>" type="image/jpg">
    <link rel="icon" href="<%= image_url 'logo2.jpg' %>" type="image/svg+xml">
    <link rel="apple-touch-icon" href="<%= image_url 'logo2.jpg' %>">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css", media: "all" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/style.css", media: "all" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css", media: "all" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="app-layout">
    <% unless (controller_name == 'sessions' && action_name == 'new') || (controller_name == 'passwords' && action_name == 'new') || (controller_name == 'passwords' && action_name == 'edit') || (controller_name == 'passwords' && action_name == 'update') %>
      <%= render partial: "shared/navbar" %>
    <% end %>
    <div class="content-area">
      <% unless (controller_name == 'sessions' && action_name == 'new') || (controller_name == 'passwords' && action_name == 'new') || (controller_name == 'passwords' && action_name == 'edit') || (controller_name == 'passwords' && action_name == 'update')%>
        <%= render partial: "shared/accountbar"%>
      <% end %>
      <%= render partial: "shared/flash"%>
      <%= yield %>
    </div>
  </div>
</body>

</html>
